{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />

<div class="container">
  <h1 class="form-title">Sign up</h1>
  <form action="#">
    <div class="main-user-info">
      <div class="user-input-box">
        <label for="fullName">Full Name</label>
        <input
          type="text"
          id="full-name"
          name="full-name"
          placeholder="Full Name"
        />
      </div>
      <div class="user-input-box">
        <label for="userName">User Name</label>
        <input
          type="text"
          id="user-name"
          name="user-name"
          placeholder="User Name"
        />
      </div>
      <div class="user-input-box">
        <label for="email">email</label>
        <input type="text" id="email" name="email" placeholder=" email" />
      </div>
      <div class="user-input-box">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="number"
          id="phoneNumber"
          name="phoneNumber"
          placeholder="phoneNumber"
        />
      </div>
      <div class="user-input-box">
        <label for="password">Password</label>
        <input
          type="password"
          id="passsword"
          name="password"
          placeholder=" new password"
        />
      </div>
      <div class="user-input-box">
        <label for="confirmPassword">Confirm Passsword</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="confirmPassword"
        />
      </div>
    </div>

    <div class="gender-details-box">
      <span class="gender-title">Gender</span>
      <div class="gender-category">
        <input type="radio" name="gender" id="male" />
        <label for="male">Male</label>
      </div>
      <div class="gender-category">
        <input type="radio" name="gender" id="female" />
        <label for="female">Female</label>
      </div>
      <div class="gender-category">
        <input type="radio" name="gender" id="other" />
        <label for="other">Other</label>
      </div>
    </div>
    <div class="loginLink">
      <p>already have a account?</p>
      <a href="{% url 'login' %}">Login</a>
    </div>
    <div class="submit-button">
      <input type="submit" value="Sign up" />
      <button></button>
    </div>
  </form>
</div>
{% endblock content %}
